.header {
  /* margin-top: 60px; */
  background-color: #E0FFFF;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
}

.headerTitleSm {
  position: absolute;
  top: 35%;
  font-size: 50px;
  margin-left: 275px;
  margin-top: 50px;
  font-family: 'Satisfy', cursive;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 100px;
  color: #BD2100;
  margin-left: 300px;
  margin-top: 0px;
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    object-fit: cover;
    background-color: #FAFAD2;
}